* {
  color: #919292;
  text-align: left;
  margin-right: 10%;
}

.image {
  display: block;
  background: transparent;
  width: 30em;
  height: 12em;
  page-break-before: always;
  page-break-after: always;

}

.subhead {
  font-size: 1.25em;
}

article > section {
  margin-top: 5%;
}

a:hover {
  color: #FF9900;
}
