* {
  font-family: 'Work Sans', sans-serif;
  color:  #CFD1D1;
  text-decoration: none;
  text-align: center;
}

body {
  background-color: #FFFFCC;
}

nav {
  text-align: right;
}

.quote {
  margin-top: 15%;
  font-size: 14px;
  text-align: center;
}

.content {
  margin-bottom: 40%;
}

.tagline {
  font-size: 60px;
  color:#919292;
}

.intro {
  font-size: 24px;
}

.sunshine {
  color: #FF9900;
}

footer {
  text-align: center;
  margin-bottom: 0%;
}

.heading {
  color: #919292;
  margin-top: 10%;
  font-size: 2em;
}

a:hover {
  color: #FF9900;
}

a:visited {
  color: #919292;
}

.main {
  font-size: 2em;
}