* {
  font-family: "Candara";
  color:  #CFD1D1;
  text-decoration: none;
  text-align: center;
}

body {
  background-color: #FFFFCC;
}

nav {
  text-align: right;
}

img {
  height: 3em;
  border-radius: 2em;
  margin-left: 5%;
}

.block {
  background-color: white;
  margin: 10%;
  padding: 10%;
  padding-bottom: 5%;
  border-radius: 5em;
  position: absolute;
  border-style: dashed;
  border-color: #FF9900;
  border-width: 150%;
  border-radius: 2em;
}

.quote {
  font-size: 14px;
  text-align: center;
  font-weight: lighter;
  opacity: 0.65;
}

.content {
  margin-bottom: 20%;
}

.tagline {
  font-size: 60px;
  color:#919292;
}

.intro {
  font-size: 24px;
}

.sunshine {
  color: #FF9900;
}

footer {
  text-align: center;
  margin-bottom: 0%;
}

.heading {
  color: #919292;
  margin-top: 10%;
  font-size: 2em;
}

a:hover {
  color: #FF9900;
}

a:visited {
  color: #919292;
}

.main {
  font-size: 2em;
}